{% load static %}
<!doctype html>
<html>

<head>
  <title>포트폴리오</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Tomorrow&display=swap&subset=korean">
  <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/menu_slide.js' %}"></script>
</head>

<body>
  <div class="top" align=center>
    <a href="{% url 'post_list' %}"><img src="{% static 'img/logo.png' %}" style="border-bottom:10px;"></a>
    <a href="{% url 'post_list' %}" class="top-menu">
      <div>BLOG</div></a>
    {% if user.is_authenticated %}
    <a href="{% url 'post_new' %}" class="top-menu">
      <div>POST</div></a>
      {% endif %}
      {% if user.is_authenticated %}
      <div class="right-menu1">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}" class='logout'>Logout</a>)</small></div>
      {% else %}
      <a href="{% url 'login' %}" class="right-menu">
        <div>LOGIN</div>
      </a>
      {% endif %}
  </div>
  <div id="grid">
    <div>
    <ul class="accordion">
      <li class="item">
        <h3 class="accordionTitle"><span></span> Profile</h3>
        <ul>
          {% for post in menu %}
          <li class="accordionMenu"><a href="{% url 'post_detail' pk=post.pk %}"> {{ post.index_title }}</a></li>
          {% endfor %}
          {% for post in profile %}
          <li class="accordionMenu"><a href="{% url 'post_detail' pk=post.pk %}"> {{ post.index_title }}</a></li>
          {% endfor %}
        </ul>
      </li>
      <li class="item">
        <h3 class="accordionTitle"><span></span> Activity</h3>
        <ul>
          {% for post in activity %}
          <li class="accordionMenu"><a href="{% url 'post_detail' pk=post.pk %}"> {{ post.index_title }}</a></li>
          {% endfor %}
        </ul>
      </li>
      <li class="item">
        <h3 class="accordionTitle"><span></span> Project</h3>
        <ul>
          {% for post in project %}
          <li class="accordionMenu"><a href="{% url 'post_detail' pk=post.pk %}"> {{ post.index_title }}</a></li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  </div>

    <div id="article">
      {% block content %}
      {% endblock %}
    </div>
  </div>

</body>

</html>
