{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

{% load el_pagination_tags %}
<table style="width:100%; text-align:center;">

    <tr>
        <th>게시물 ID</th>
        <th>제목</th>
        <th>등록자</th>
        <th>등록일자</th>
    </tr>

{% paginate 10 menu.posts.all as menu %}
{% for post in menu %}

    <tr>
        <td>{{ post.pk }}</td>
        <td><a href="{% url 'post_detail' pk=post.pk %}" style=" font-family: 'Tomorrow', sans-serif;">{{ post.title }}</a></td>
        <td>{{ post.author }}</td>
        {% if post.published_date %}
        <td>{{ post.published_date }}</td>
        {% endif %}
    </tr>

    {% endfor %}
</table>
<div align=center>{% show_pages %}</div>

{% endblock %}
